<div class="nav" [class.nav-can-back]="canBack">
  <a [routerLink]="['/icons']" *ngIf="canBack">
    <i nz-icon nzType="left" nzTheme="outline"></i>
    back to list
  </a>
  <ul>
    <li>
      <a [routerLink]="['/json-animation']"><span class="decoration"></span>Edit Json color</a>
    </li>
    <li>
      <a [routerLink]="['/icons']"><span class="decoration"></span>Icons</a>
    </li>
  	<li>
  	  <a [routerLink]="['/chart']"><span class="decoration"></span>Chart</a>
  	</li>
  	<li>
  	  <a routerLink="/"><span class="decoration"></span>Home</a>
  	</li>
  </ul>
</div>
