<div class="chart" #chart>
  <canvas id="dots"></canvas>
  <div class="message-block">
    <ul>
      <li *ngFor="let msg of messages; let i=index">
        <p>{{ msg }}</p>
      </li>
    </ul>
  </div>
  <div class="card"
  #card
  [style.left.px]="cardLeft"
  [style.top.px]="cardTop">
  <div class="header">
    <h3><span *ngIf="user.name!==''">Hi, {{ user.name }} </span>開始聊天</h3>
    <i nz-icon nzType="drag" nzTheme="outline"></i>
  </div>
    <div *ngIf="isLogin">
      <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
        <input type="text" nz-input placeholder="input search text" [(ngModel)]="message" />
      </nz-input-group>
      <ng-template #suffixButton>
        <button nz-button nzType="primary" nzSize="large" nzSearch (click)="sentMsgToWS()">送出</button>
      </ng-template>
      <div class="logout-btn-container">
        <button nz-button nzType="link" (click)="signOut()"><i nz-icon nzType="logout"></i>Logout</button>
      </div>
    </div>

    <div class="fb-login-btn-container" *ngIf="!isLogin">
      <button nz-button nzSize="large" (click)="signIn()">
        <i nz-icon nzType="facebook" nzTheme="fill"></i>使用Facebook帳號登入
      </button>
    </div>
  </div>
</div>
