a {
	color: var(--dark-color);
}

.items-list {
	border: 0px solid #000;
	display: flex;
	justify-content: flex-start;
}

.items-list .svg-icon {
	width: 100%;
	border: 1px solid hsla(0, 0%, 90%, 1);
	border-radius: 30px;
}

.items-list .item {
	width: calc(12.5%);
	margin:0 8px;
	text-align: center;
}