<div class="overview" #overview>
  <div class="between-container">
    <div class="overview-contents">
      <h1 [@skewUpright]="skew ? 'skew' : 'upright'">Taka's Web</h1>
      <div *ngFor="let item of contents" class="section" [@skewUpright]="skew ? 'skew' : 'upright'">
        <h2>{{ item.title }}</h2>
        <p [innerHTML]="item.text"></p>
      </div>
    </div>
    <img src="../../assets/mountain.svg" [@skewUpright]="skew ? 'skew' : 'upright'">
  </div>
  <div class="main-color-block"></div>
</div>

